textarea:focus {
    outline: none;
}

body {
    margin-top: 65px;
    background: url("../img/6.jpg") repeat local center 0;
}

#write_comment {
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
    width: 80%;
    height: 100px;
    padding: 10px;
    resize: none;
}

#write_comment:focus {
    background: white;
}

#write_comment:hover {
    background: white;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none
}