.imgBox {
    border-top: 2px solid cadetblue;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.imgBox img {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.imgBox1 {
    border-top: 2px solid cadetblue;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.imgBox1 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

.img3 {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url("../img/14.png") repeat local center 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

#Body {
    clear: both;
    padding: 20px 0 0 0;
}

#header {
    background-color: black;
}

#navigation {
    background-color: black;
}

#editTable {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none
}